html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

@import 'variables';
@import 'navbar';
@import 'modal';
@import 'layout';
@import 'homeWrapper';
@import 'game';
@import 'gameInfo';
@import 'board';

